$boxcolor: rgb(246, 156, 249);


body {
  background-color: rgb(246, 156, 249);
}

h1 {
  color: rgb(255, 222, 222);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

bg-primary {
  color: darkgoldenrod;
}